body{
  background-color:aqua;
  margin: 0;
}

.nav-container{
  background-color: rgb(5, 23, 29);
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
}

nav a, span{
  text-decoration: none;
  color:  rgb(237, 224, 224);
  font-size: 20px;
  padding-left:50px;  
  margin: 15px;
}

a:hover{
  color: rgb(209, 2, 150);
}


.input{
  margin-bottom: 10px;
  /* width: 350px; */
  width: 80%;
  height: 50px;
  text-align: center;
}

.img-container{
  
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  display: inline;
  float:left;
  /* padding-inline: 10%; */
  padding-inline: 50px;
}

.form{
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
  font-size: 30px;
}

label{
  font-size: 20px;
}

.product-info-img{
  padding: 60px 0px 0px 10px;
  float: left;
}

.product-info-disc{
  padding: 10% 0px 0px 40%;
}

.filter{
  padding-top: 5%;
  margin: 0 auto;
  text-align: center;
}